<!-- <link rel="stylesheet" href="/css/about.css"> -->

        <!-- <%= title%> -->
<!-- <h1> about pages 1</h1> -->


    <% if(user.id == profile_user.id){%>
      <%if(user.avatar){%>
        <div style="background-color: aliceblue;">
          <img src="<%= user.avatar%>" alt="<%=user.name%>" width="100">
        </div>
        <%}%>
        <div id="update">
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
                <h1>Update Profile</h1>
              <div class="form-field">
                <!-- <input type="email" name="email" placeholder="Email / Username" required/> -->
                
                <input type="text" name="name" placeholder="Username" value="<%=profile_user.name%>" required>
              </div>
              
              <div class="form-field">
                <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                <!-- <input type="password" name="password" placeholder="Password" required/> -->
              </div>
              <div class="form-field">
                <input type="file" name="avatar" id="" placeholder="Profile Picture">
              </div>
              <div class="form-field">
                <button class="btn" type="submit">Update</button>
              </div>
            </form> 
        
        </div>
    <%}else{%>
        <!-- else show only the profile info -->
        <div id="update">
          <div>
            <img src="<%= profile_user.avatar%>" alt="<%=user.name%>" width="100">
          </div>
            <form action="/users/update/<%=profile_user.id%>" method="post">
                    <h1>Friends Profile</h1>
                    
                  <div class="form-field">
                    <!-- <input type="email" name="email" placeholder="Email / Username" required/> -->
                    <input type="text" name="name" placeholder="Username" value="<%=profile_user.name%>" readonly>
                  </div>
                  
                  <div class="form-field">
                    <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" readonly>
                    <!-- <input type="password" name="password" placeholder="Password" required/> -->
                  </div>
                  
                  <!-- <div class="form-field">
                    <button class="btn" type="submit">Update</button>
                  </div> -->
                </form> 
            
            </div>
        <!-- <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p> -->

    <%}%>


<!-- <script src="/js/about.js"></script> -->
