<!-- for update common style user -->
<link rel="stylesheet" href="/css/user-sign.css">
    <% if(user.id == profile_user.id){%>
      <%if(user.avatar){%>
        <div id="profile-pic">
          <img src="<%= user.avatar%>" alt="<%=user.name%>" width="100">
        </div>
        <%}%>
        <div id="sign">
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
                <h1>Update Profile</h1>
              <div class="form-field">
                <i class='fas fa-user-alt bgcol'></i>
                <input type="text" name="name" placeholder="Username" value="<%=profile_user.name%>" required>
              </div>
              <div class="form-field">
                <i class="fa fa-at bgcol"></i>
                <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                <!-- <input type="password" name="password" placeholder="Password" required/> -->
              </div>
              <div class="form-field">
                <i class='far fa-image bgcol'></i>
                <input type="file" name="avatar" id="" placeholder="Profile Picture"  accept="image/png, image/jpg, image/jpeg"/>
              </div>
              <div class="form-field">
                <button class="btn" type="submit">Update</button>
              </div>
            </form> 
        
        </div>
    <%}else{%>
        <!-- else show only the profile info -->
        <div id="profile-pic">
          <img src="<%= profile_user.avatar%>" alt="<%=user.name%>" width="100">
        </div>
        <div id="sign">
            <form action="/users/update/<%=profile_user.id%>" method="post">
                  <h1>Friends Profile</h1>    
                  <div class="form-field">
                    <i class='fas fa-user-alt bgcol'></i>
                   <input type="text" name="name" value="<%=profile_user.name%>" readonly>
                  </div>
                  
                  <div class="form-field">
                    <i class="fa fa-at bgcol"></i>
                    <input type="email" name="email" value="<%=profile_user.email%>" readonly>
                  </div>
                </form>             
            </div>>
    <%}%>


<!-- <script src="/js/about.js"></script> -->
